body,html {
  height: 100%;
  background-color: black;
  color: #424242;
}

#pnlPc {
  font-size: 100px;
  font-weight: bold;
  color: #D50000;
}

.subtitle {
  font-size: 60px;
  font-weight: bold;
}


#value {
  font-size: 60px;
  font-weight: bold;
  color: #FF6D00;
}

#pnl {
  font-size: 60px;
  font-weight: bold;
  color: #D50000;
}

.loader {
    border: 8px solid #424242;
    border-top: 8px solid #ff6d00;
    border-bottom: 8px solid #ff6d00;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
